<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Emi_Module::manager" title="Ambab" module="Ambab_EmiCalculator" sortOrder="10" resource="Emi_Module::manager"/>
    	<add id="Emi_Module::add_row" title="Emi Calculator" module="Ambab_EmiCalculator" sortOrder="20" parent="Emi_Module::manager" action="grid/grid/index" resource="Emi_Module::add_row"/>

        <add id="Emi_Module::emicalc_configuration" title="Configuration" 
        module="Ambab_EmiCalculator" 
        sortOrder="99" 
        parent="Emi_Module::manager" 
        action="adminhtml/system_config/edit/section/module" resource="Emi_Module::emicalc_configuration"/>
    </menu>
</config>